body {
  background-color: #333;
}

.hero {
  height: 100vh;
  background-color: #222;
}

.skew {
  height: 68px;
  background-color: #222;
}

@media screen and (min-width: 671px) {
  .skew {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 10%);
  }
}

@media screen and (max-width: 670px) {
  .skew {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
  }
}