.hero {
  min-height: 100vh;
  background-color: #222;

}

.intro {
  text-align: justify;
  padding-right: 2rem;
}

@media screen and (max-width: 767px) {
  .intro {
    text-align: center;
  }
  .hero-container {
    padding-top: 80px;
  }
  .intro-text {
    margin-bottom: 2rem;
  }

  .wrap-image::before, .wrap-image::after {
    display: none;
  }

  .wrap-image img {
    width: 60%;
  }

  .scroll-div {
    display: none !important;
  }
}

.wrap-image {
  position: relative;
}

.wrap-image::before,
.wrap-image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 3px solid #555;
  border-radius: 0.25rem;
  transition: all 0.2s ease-out;
}
.wrap-image::before {
  background-color: #555;
  top: -15px;
  left: -15px;
  z-index: 0;
}
.wrap-image::after {
  bottom: -15px;
  right: -15px;
  z-index: 3;
}
.wrap-image:hover::before {
  top: 15px;
  left: 15px;
}
.wrap-image:hover::after {
  bottom: 15px;
  right: 15px;
  z-index: 1;
}

.wrap-image img {
  position: relative;
  z-index: 2;
}

/* .img-border {
  position: relative;
}

.img-border::before {
  position: absolute;
  top: 5%;
  left: 6%;
  width: 100%;
  height: 100%;
  border: 5px solid #333;
  border-radius: 0.25rem;
  content: "";
} */

.scroll-first {
  width: 2em;
  height: 2em;
  background-color: transparent;
  z-index: 80;
  bottom: 25px;
  position: absolute;
  border-width: 0 0.25em 0.25em 0;
  border-style: solid;
  border-color: antiquewhite;
  animation: scrolldown 1.2s ease-in-out infinite 0.15s;
}

.scroll-second {
  width: 2em;
  height: 2em;
  background-color: transparent;
  z-index: 80;
  bottom: 40px;
  position: absolute;
  border-width: 0 0.25em 0.25em 0;
  border-style: solid;
  border-color: antiquewhite;
  animation: scrolldown 1.2s ease-in-out infinite;
}

.scroll {
  transform: translateY(0%) rotate(45deg);
  opacity: 0;
}
@keyframes scrolldown {
  0% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
  50% {
    transform: translateY(0%) rotate(45deg);
    opacity: 0.2;
  }
  100% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
}

.skew {
  height: 70px;
  background-color: #222;
}

@media screen and (min-width: 671px) {
  .skew {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 10%);
  }
}

@media screen and (max-width: 670px) {
  .skew {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
  }
}
